<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<filter>
		<filter-name>getInitParamFilter</filter-name>
		<filter-class>net.codingme.filter.GetInitParamFilter</filter-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>xy</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>getInitParamFilter</filter-name>
		<url-pattern>/getInitParamFilter</url-pattern>
	</filter-mapping>


	<!-- servlet 过滤器验证是否登陆 start -->
	<filter>
		<filter-name>adminFilter</filter-name>
		<filter-class>net.codingme.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<!-- servlet 过滤器验证是否登陆 end -->
</web-app>